@charset "utf-8";

@font-face {
    font-family: 'Labrada';
    src: url('./font/static/Labrada-Regular.ttf');
    unicode-range: U+0041-005A, U+0061-007A;
}

@font-face {
    font-family: 'NotoSans';
    src: url('./font/NotoSans-Regular.ttf');
}

/* 지정변수 */
:root {
    --font-co: #1e1e1e;
    --font-co2: #fff;
    --back-co: #c2c2c2;
    --back-co2: #cdac7d;
}

/* 절대로 위의 줄은 1번 줄에 배치 */

/* 기본 세팅 */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul,
li {
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--font-co);
    cursor: pointer;
}

img {
    border: 0;
    vertical-align: middle;
}

html {
    font: 16px;
    width: 100%;
}

body {
    font-family: "Labrada", 'NotoSans';
    font-size: 16px;
    line-height: 1;
    letter-spacing: 0;
    word-break: keep-all;
    width: 100%;
    overflow-x: hidden;
}

/* -------기본 세팅---------- */
/* header */
.header {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 9999999999;
}

.hea_cnt {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.hea_top {
    display: table;
    background-color: var(--back-co2);
    columns: var(--font-co2);
    cursor: pointer;
    width: calc(100% / 4);
    height: 10%;
}

.hea_a {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    font-size: 30px;
    line-height: 40px;
    letter-spacing: -0.02em;
    transition: font-size 0.8s;
    transition: line-height 0.8s;
    color: var(--font-co2);
}

.hea_this {
    background-color: var(--font-co);
    color: var(--back-co2);
}

.hea_a:hover {
    background-color: var(--font-co);
    color: var(--back-co2);
}

@media screen and (max-width:1280px) {
    .hea_a {
        font-size: 20px;
        line-height: 30px;
    }
}

/* header ------------------------- */
/* profile */
.profile {
    margin: 170px 100px 50px 100px;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    color: var(--font-co);
}
.pro_img {
    opacity: 0.3;
}
.welcome {
    margin-left: 50px;
    width: 100%;
}
.wel_ment {
    display: flex;
    flex-direction: column;
    font-size: 30px;
    padding-bottom: 20px;
}
.wel_hi {
    width: 26ch;
    white-space: nowrap;
    overflow: hidden;
    animation: typing 3s steps(26, end),
        cursor-blink 0.2s step-end infinite alternate;
    }
.wel_who {
    width: 0;
    white-space: nowrap;
    overflow: hidden;
    animation: typing 3s 1.5s steps(26, end) forwards,
        cursor-blink 0.5s step-end infinite alternate;
    }
.wel_wel {
    width: 0;
    white-space: nowrap;
    overflow: hidden;
    animation: typing 3s 3.6s steps(26, end) forwards,
        cursor-blink 0.25s step-end infinite alternate;
}
@keyframes typing {
    from {
        width: 0;
    }
    to {
        width: 26ch;
    }
}
@keyframes cursor-blink {
    50% {
        border-color: var(--back-co2);
    }
}
.wel_detail {
    font-size: 24px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    width: 100%;
    height: auto;
}
.wel_span {
    padding: 10px 0;
}
.wel_detail .wel_span {
    position: relative;
    width: 100%;
    height: 2.4rem;
    overflow: hidden;
}
.weld_1 {
    position: absolute;
    transform: translate(0, -60px);
    animation: message 2s 4.5s forwards;
}
.weld_2 {
    position: absolute;
    transform: translate(0, -60px);
    animation: message 2s 4.6s forwards;
}
.weld_3{
    position: absolute;
    transform: translate(0, -60px);
    animation: message 2s 4.7s forwards;
}
.weld_4{
    position: absolute;
    transform: translate(0, -60px);
    animation: message 2s 4.8s forwards;
}
.weld_5{
    position: absolute;
    transform: translate(0, -60px);
    animation: message 2s 4.9s forwards;
}
.weld_6{
    position: absolute;
    transform: translate(0, -60px);
    animation: message 2s 5s forwards;
}
.weld_7{
    position: absolute;
    transform: translate(0, -60px);
    animation: message 2s 5.1s forwards;
}
.weld_8{
    position: absolute;
    transform: translate(0, -60px);
    animation: message 2s 5.2s forwards;
}
@keyframes message{
    0% {transform: translate(0, -60px)}
    100% {transform: translate(0, 0)}
  
}
/* profile----------------------------------------- */
/* triangle */
.down-triangle {
    position: relative;
}
.down-arrow {
    display: flex;
    flex-direction: column;
    font-size: 30px;
    color: #cdac7d;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 50%;
    animation: arrow 0.8s 8s infinite;
}
@keyframes arrow {
    0% {top: 0px;}
    10% {top: 5px;}
    20% {top: 10px;}
    30% {top: 15px;}
    40% {top: 20px;}
    50% {top: 30px;}
    60% {top: 20px;}
    70% {top: 15px;}
    80% {top: 10px;}
    90% {top: 5px;}
    100% {top: 0px;}
}
.down-big, .down-small {
    text-align: center;
}
/* triangle------------------------------------------------------- */
/* cover_letter */
.cover_letter {
    margin: 250px 100px 100px 0;
}
.co-dnone {
    display: none;
}
.title {
    font-size: 24px;
    padding: 30px;
    padding-bottom: 10px;
    padding-left: 130px;
    border-bottom: 1px solid var(--font-co);
    display: inline-block;
    color: #ad774e;
    font-weight: 700;
}
.detail {
    font-size: 20px;
    line-height: 150%;
    letter-spacing: -0.02em;
    padding: 30px 150px;
}
.co-down {
    margin: 100px;
    font-size: 20px;
}
.co-yes {
    margin-right: 50px;
    padding: 0 5px;
}
.co-ques {
    padding-right: 50px;
    font-weight: 700;
}
/* cover_letter---------------------------------------------- */
