@charset "utf-8";

@font-face {
    font-family: 'Labrada';
    src: url('./font/static/Labrada-Regular.ttf');
    unicode-range: U+0041-005A, U+0061-007A;
}

@font-face {
    font-family: 'NotoSans';
    src: url('./font/NotoSans-Regular.ttf');
}

/* 지정변수 */
:root {
    --font-co: #1e1e1e;
    --font-co2: #fff;
    --back-co: #c2c2c2;
    --back-co2: #7badd0;
}

/* 절대로 위의 줄은 1번 줄에 배치 */

/* 기본 세팅 */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul,
li {
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--font-co);
}

img {
    border: 0;
    vertical-align: middle;
}

html {
    font: 16px;
    width: 100%;
}

body {
    font-family: "Labrada", 'NotoSans';
    font-size: 16px;
    line-height: 1;
    letter-spacing: 0;
    word-break: keep-all;
    width: 100%;
    min-height: 100%;
    overflow-x: hidden;
}

/* -------기본 세팅---------- */
/* header */
.header {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 9999999999;
}

.hea_cnt {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.hea_top {
    display: table;
    background-color: var(--back-co2);
    columns: var(--font-co2);
    cursor: pointer;
    width: calc(100% / 4);
    height: 10%;
}

.hea_a {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    font-size: 30px;
    line-height: 40px;
    letter-spacing: -0.02em;
    transition: font-size 0.8s;
    transition: line-height 0.8s;
    color: var(--font-co2);
}

.hea_this {
    background-color: var(--font-co);
    color: var(--font-co2);
}

.hea_a:hover {
    background-color: var(--font-co);
    color: var(--font-co2);
    transition: all 1.7s;
}

@media screen and (max-width:1280px) {
    .hea_a {
        font-size: 20px;
        line-height: 30px;
    }
}

/* header ------------------------- */
/* fixed */
.fixDsg, .fixCode, .fixPage {
    width: 100px;
    background-color: var(--back-co2);
    color: var(--font-co2);
    position: fixed;
    right: 80px;
    bottom: 10vh;
    text-align: center;
    padding: 10px;
    border-radius: 10%;
    z-index: 999999999;
}
.fixDsg:hover, .fixCode:hover, .fixPage:hover {
    background-color: #68c0ff;
    transition: background-color 1s;
}
.fixPage {
    bottom: 16vh;
}
/* fixed--------------------------------- */
/* subject */
.subject {
    margin: 100px 0;
}
.sub-title {
    display: inline-block;
    padding-left: 100px;
    padding-right: 20px;
    margin-bottom: 30px;
    line-height: 40px;
    border-bottom: 1px solid var(--font-co);
}
.sub-info {
    padding-left: 100px;
}
/* subject------------------------ */
/* mainImage */
.mainImage {
    /* background-color: var(--back-co); */
    width: 100%;
    height: auto;
    margin: 0 auto;
}
.mainImage .inner {
    margin: 0 auto;
    text-align: center;
}
.mainImg {
    width: 80%;
    margin: 0 auto;
}
/* mainImage--------------------------- */
/* reference */
.reference {
    width: 100%;
    height: 100%;
}
.reference .inner {
    width: 100%;
    margin: 100px 0;
}
.ref-title {
    display: inline-block;
    padding-left: 100px;
    padding-right: 20px;
    margin-bottom: 30px;
    line-height: 40px;
    border-bottom: 1px solid var(--font-co);
}
.ref-imgCnt {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.ref-img {
    width: 10vw;
    height: auto;
    background-color: var(--back-co);
}
/* reference-------------------------------------- */
/* skill */
.skill {
    margin: 100px auto;
}
.sk-title {
    display: inline-block;
    line-height: 40px;
    border-bottom: 1px solid var(--font-co);
    padding-left: 100px;
    padding-right: 20px;
    margin: 50px auto;
}
.sk-mysw {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    width: 1200px !important;
    height: 600px;
}
.sk-slide {
    margin-top: 50px;
}
.sk-sw {
    width: 1200px !important;
    height: 600px;
    text-align: center;
    background-color: var(--font-co2);
}
.skimg {
    width: auto;
    height: 100%;
}
/* skill----------------------------- */
/* issue */
/* .issue {
    width: 100%;
    height: 100%;
    margin: 100px 0;
}
.issue .inner {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 500px;
}

.case-title{
    display: inline-block;
    line-height: 40px;
    border-bottom: 1px solid var(--font-co);
    padding-left: 100px;
    padding-right: 20px;
    margin-bottom: 50px;
}
.sol-title {
    display: inline-block;
    line-height: 40px;
    border-bottom: 1px solid var(--font-co);
    padding-left: 20px;
    padding-right: 100px;
    margin-bottom: 50px;
}
.iss-title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.case-img, .sol-img {
    width: 600px;
    height: 500px;
    background-color: var(--back-co);
    margin: 50px;
}

.is-arrow {
    font-size: 60px;
    color: var(--back-co);
} */

/* issue----------------------------- */